<div class="wrapper">
  <form ng-submit="editPlaylist()" ng-model="savedPlaylist">
    <div class="row">
      <hr>
      <div class="col-lg-12 to-the-right">
        <h1 class="name animated bounceInRight several-titles">{{savedPlaylist.name}}</h1>
        <h4 class="playlist-data">{{savedPlaylist.tracks.length}} Songs</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img class="update-content img" ng-src="{{savedPlaylist.images[0].url}}">
      </div>
      <div class="col-lg-6 col-lg-offset-1 search">
        <label class="several-titles">SEARCH</label><br>
        <input class="tbox input-lg" ng-model="q" ng-change="search()">
        <button class="btn-circle btn-lg" type="submit"><i class="fa fa-check fa-2" aria-hidden="true"></i>
        </button>
        <div ng-repeat="track in searchResults">
          <div class="">
              <p class="p-artist" ng-click="addTracks(track)">{{track.name}} - {{track.artists[0].name}} - {{track.album.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 to-the-right table-responsive fix-table">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>SONG</th>
            <th>ARTIST</th>
            <th>ALBUM</th>
            <th><span class="glyphicon glyphicon-time"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="x in savedPlaylist.tracks">
            <td>{{$index + 1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.artists[0].name}}</td>
            <td>{{x.album.name}}</td>
            <td>{{x.duration_ms * 0.0000166667 | number:2}}'</td>
          </tr>
          </tbody>
      </div>
    </div>
  </form>
</div>
