*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.layout {
}

body {
    font-family: Cambria;
    margin: 0;
}

.header{
    font-size: 46px;
}

.footer{
    font-size: 10px;
}

.content{
    font-size:14px;
    width: 50%;
}

.header,
.footer {
    width: 100%;
}

.navigation {
    width: 25%;
    font-size:12px;
}

.sidebar {
    width: 25%;
    font-size:10px;
}

.navigation,
.section,
.sidebar {
    display: inline-block;
    box-sizing: border-box;
    float: left;
}

.go-down{
    clear: both;
}

header,
footer{
    text-align: center;
}

*[class$="r"]{
    background-color: magenta;
}

*[class*="a"]{
    background-color: blue;
}

.oh-no-inline-style{
    background: green !important;
}
