header, footer
{
    background-color: #e2ffe6;
    text-align: center;
}

aside, nav
{
    background-color: #faffc1;
}

html
{
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 100;
}

.header{
    font-size: 46px;
}
.footer{
    font-size: 10px;
}
.content{
    font-size: 14px;
}
.navigation{
    font-size: 12px;
}
.sidebar{
    font-size: 10px;
}

[class$="r"]{
    background-color: magenta;
}
[class*="a"]{
    background-color: blue;
}

.oh-no-inline-style{
    background: green !important;
}