<form class="" ng-model="movie" ng-submit="saveMovie()">
  <label for="id">ID</label><input type="text" name="id" value="" ng-model="movie.id">
  <label for="title">Title</label><input type="text" name="title" value="" ng-model="movie.title">
  <label for="year">Year</label><input type="text" name="year" value="" ng-model="movie.year">
  <label for="genre">Genre</label><input type="text" name="genre" value="" ng-model="movie.genre" >
  <button type="submit" name="button" class="btn-success" >I'm done</button>
</form>
